/*
  colors.css

  color styles
*/

body
{
  background-color:white;
}
#header-wrapper
{
  background-color:#47CC80;
}
#main
{
}

#footer-wrapper
{
  background-color:lightblue;
}
#header a
{
  color:white;
}

#header a:hover
{
  color:black;
}
#block-user-login:hover
{
  background-color:#505050;
}
