/*
  layout.css

  positioning styles
*/


html,
body,
#page-wrapper,
#page
{
  height: 100%;
  margin:0;
}

#header-wrapper,
#page-wrapper
{
  min-height: 100%;
  min-width: 960px;
}
#main-wrapper
{
  clear:both;
}

#header,
#footer,
#main
{
  width:960px;
  margin: 0 auto;
}
#name-and-slogan
{
  clear:right;
  float:right;
}
#main-menu
{
  float:left;
}
#secondary-menu
{
  float:right;
  display:inline-block;
}

#main-menu,
#logo img
{
  height:60px;
  line-height:60px;
  font-size:1.5em;
}
#main-menu li
{
  display:inline-block;
  list-style: none;
  list-style-image: none;
}
#main-menu ul
{
  margin-left:10px !important;
}

#header ul,
h2
{
  margin:0;
  padding:0;
}

#header
{
  padding:5px 0 10px 0;
}
#logo
{
  float:left;
}

#main
{
  border-left:solid black 1px;
  border-right:solid black 1px;
}
#block-user-login
{
  position:absolute;
  padding:5px 0 0 5px;
}
#block-user-login  form
{
  display:none;
}
#block-user-login:hover > form
{
  display:block;
}
.region.region-user-login:first-child:after
{
  content:".";
  visibility:hidden;
}

.region.region-user-login
{
  display:block;
  position:relative;
  margin:0 0 5px 0;
}


/* PUSH */
.push
{
  clear:both;
  height:0;
}

.push:after
{
  content:".";
  visibility:hidden;
}


/* CLEAR FIX*/

html, body, #clearfix-wrapper
{
    height: 100%;
}

#clearfix-wrapper
{
    height: auto;
    min-height: 100%;
}


#footer-wrapper{
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
}
#clearfix
{
  padding-bottom: 50px;
}
#clearfix:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both !important;
    visibility: hidden;
}
#clearfix
{
    display: inline-block;
}
/* Hides from IE-mac */
* html #clearfix
{
    height: 1%;
}
#clearfix
{
    display: block;
}
/* End hide from IE-mac */
